* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #eee;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #16375c, #276fc2);
    color: white;
    display: flex;
    border: 4px;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer {
    background: #444;
    color: #ccc;
    text-align: center;
    padding: 1rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

th {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 2rem;
    text-align: left;
}

table {
    border-collapse: collapse;
}

.table_section table {        /* Таблица с фактами */
    width: 100%;
    margin: 1rem 0;
}

#sq_table table td {        /* Магический квадрат */
    padding: 0.5rem;
    width: 16px;
    height: 16px; 
}

.container {
    padding: 7rem 2rem 2rem 2rem;
}

section {        /* Белые окошки */
    background: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 0;
}

h2 {        /* Заголовки в блоках информации i1 i2 i3 i4 */
    margin-bottom: 0.5rem;
}

.i4 {
    background: black url(assets/images/Звёзды.jpg);
    color: white;
}

.quote {
    background-color: #346399;
    color: white;
}

@media (max-width: 768px) {        /* Адаптивный дизайн */
    header {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }

    nav ul {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}
