header {
  position: fixed;
  width: 100%;
  background-color: #276fc2;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding: 7rem, 2rem, 2rem, 2rem;
}

nav ul {
  display: flex;
  gap: 2rem;
}
