body {
    font-family: sans-serif;
    background-color: #eee;
}

header {
    position: fixed;
    width: 100%;
    background-color: #276fc2;
    color: white;
    display: flex;
    border: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer {
    background: #444;
    color: #ccc;
    text-align: center;
    padding: 1rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

th {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 2rem;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
}

.container {
  padding: 7rem 2rem 2rem 2rem;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }

  nav ul {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}
